<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicle Subsystem</title>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}

</head>
<body>
  <form method="POST">
      {{ form.csrf_token }}
      <br>
      <h2>Define a new vehicle subsystem:</h2>
      <br>
      {{ form.subsystem_name.label }} {{ form.subsystem_name(size=20) }} <br>
      <br>
      Please list the components that belong into this vehicle subsystem (you can select multiple by pressing ctrl):
      <br>
      <div>{{form.suspectcomponents(multiple=True)}} </div>
      <br>
      Please select which component can verify whether the subsystem works correctly:
      {{form.veryfied_by}}
      <br> <br>
      {{form.final_submit}}
  </form>
</body>
</html>