<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DTC</title>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}

    Site navigation: <a href="/">Start page</a> | <a href="subsystem">Add a vehicle subsystems</a> | <a href="suspectcomponents">Add a component</a>.
</head>
<body>
  <form method="POST">
      {{ form.csrf_token }}
      <br>
      <h2>Add a new DTC instance to the ontology:</h2>
      <br>
      {{ form.dtc_name.label }} {{ form.dtc_name(size=20) }} <br>
      <br>
        Please list other DTCs that often occur together with the given DTC (you can select multiple by pressing ctrl):
      <br>
      <div>{{form.occurs_with(multiple=True)}} </div>
      <br>
      Please describe the fault condition for the DTC:
      {{form.faultcondition}}
      <br> <br>
      {%for i in form.chosen_symptoms%}
        {{i}},
      {%endfor%}</p> <br>
      <br>
      Please choose symptoms of the faultcondition (you can select multiple by pressing ctrl):
      <br>
      {{form.symptoms}}
      <br>
      If there is a symptom that are not in the list, please add it in the textfield below:
      <br>
      <div>{{ form.new_symptom.label }} {{form.new_symptom}} {{form.new_symptom_submit}}</div>
      <br><br>
      Please list the components that should be checked. Please list them in the right order - the ones that come first in the list should be the ones that should be checked first. If you want to add a component that is not in this list, please add it via <a href="suspectcomponents">this</a> form and afterwards select it in the list here.
      <br>
      <p color=blue style>
      {%for i in suspectComponents%}
        {{i}},
      {%endfor%}</p> <br>
      <div>{{ form.suspectComponents_selectField.label }} {{form.suspectComponents_selectField}} {{form.add_component_submit}} {{form.clear_components}} </div>
      <br>
      {{form.final_submit}}
  </form>
</body>
</html>