<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Components</title>
</head>
<body>
    <div> Site navigation: <a href="/">Start page</a> | <a href="subsystem">Add a vehicle subsystems</a> | <a href="dtc">Add a DTC</a>. </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
  <form method="POST">
      {{ form.csrf_token }}
      <br>
      <h2>Add a new component instance to the knowledge graph:</h2>
      <br>
      {{ form.component_name.label }} {{ form.component_name(size=20) }} <br>
      <br>
      Are oscilloscope measurements possible for this component?
      {{form.measurements_possible}} <br>
      <br>
      Please select other components whose malfunctions can affect the current component:
      <br>
      <div>{{ form.component_selectfield}} {{form.affecting_component_submit}} {{form.clear_affecting_components}}</div>
      <br>
      <p color=blue style>
      {%for i in affectingComponents%}
        {{i}},
      {%endfor%}</p>
      <br> <br>
      {{form.final_submit}}
  </form>
</body>
</html>