* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f8f8;
}

header {
    background-color: #2c3e50;
    padding: 20px;
}

header h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

article {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article p {
    font-size: 1.2rem;
    max-width: 1600px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 1.5rem;
}

a {
    text-decoration: none;
    color: #2c3e50;
    background-color: #f5f5f5;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.intext_a {
    text-decoration: none;
    color: #2c3e50;
    background-color: #f5f5f5;
    padding: 5px 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

a:hover {
    background-color: #2c3e50;
    color: #fff;
}

input[type='text'],
select {
    /*display: block;*/
    /*width: 100%;*/
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 1.2rem;
}

input[type='text']:focus,
select:focus {
    outline: none;
    border-color: #2c3e50;
}

input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    /*font-weight: bold;*/
    text-align: center;
    color: #2c3e50;
    background-color: #f5f5f5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #2c3e50;
    color: #fff;
}

footer {
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
}

footer a {
    text-decoration: none;
}
