<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Fahrzeugkomponente</title>
</head>

<body>
<header><h1>Aufnahme von Komponenten-bezogenem Expertenwissen</h1></header>
<section>
    <article>
        <p>
            <a href="/">Startseite</a>
            <a href="component_set_form">Fahrzeugkomponenten-Sets</a>
            <a href="dtc_form">Diagnostic Trouble Codes (DTCs)</a>
        </p>
        <form method="POST">
            {{ form.csrf_token }}
            <br>
            <p><b>Fahrzeugkomponente</b>: {{ form.component_name(size=20) }} (alternativ bestehende Komponente auswählen
                und anpassen: {{ form.existing_components }} {{ form.existing_components_submit }})</p>
            <p>Sind <b>Oszilloskopmessungen</b> für diese Komponente möglich / sinnvoll? {{ form.measurements_possible }}</p>
            <p><b>Komponenten</b>, deren Fehlverhalten das korrekte Funktionieren der betrachteten
                Komponente <b>beeinträchtigen</b> könnte (<a href="component_form">fehlende Komponente ergänzen</a>):</p>
            <div>{{ form.affecting_components }} {{ form.affecting_component_submit }} {{ form.clear_affecting_components }}</div>
            <p style="color: #B40404;">
                {% for i in affecting_components_variable_list %}
                    {{ i }},
                {% endfor %}</p>
            {{ form.final_submit }} {{ form.clear_everything }}
        </form>
        <br>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li><p style="color: #B40404;">{{ message }}</p></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </article>
</section>
<footer>
    <p><i>Kontakt: <a href="mailto:tim.bohne@dfki.de">tim.bohne@dfki.de</a></i></p>
</footer>
</body>

</html>
