<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Fahrzeugkomponenten-Set</title>
</head>

<body>
<header><h1>Aufnahme von Fahrzeugkomponenten-Sets</h1></header>

<section>
    <article>
        <p>
            <a href="/">Startseite</a>
            <a href="dtc_form">Diagnostic Trouble Codes (DTCs)</a>
            <a href="component_form">Fahrzeugkomponenten</a>
        </p>
        <form method="POST">
            {{ form.csrf_token }}
            <br>
            <p>
                <i>Idee: Wenn ein Fahrzeugkomponenten-Set als nicht fehlerhaft verifiziert wurde, sind sämtliche
                Komponenten, welche mit diesem assoziiert sind, ebenfalls i.O., was eine Menge redundanter
                Oszilloskop-Messungen vermeidet.</i>
            </p>
            <p></p><p></p>
            <p>
                Fahrzeugkomponenten-Set: {{ form.set_name(size=20) }}
                (alternativ bestehende Komponente auswählen und anpassen:
                {{ form.existing_component_sets }} {{ form.existing_component_set_submit }})
            </p>
            <p>Komponenten, die diesem Fahrzeugkomponenten-Set zugeordnet werden
                (<a href="component_form">fehlende Komponente ergänzen</a>):
            </p>
            <div>{{ form.components }} {{ form.add_component_submit }} {{ form.clear_components }}</div>
            <p style="color: #B40404;">
                {% for i in components_variable_list %}
                    {{ i }},
                {% endfor %}</p>
            <p>Komponenten, die die korrekte Funktionalität des Komponenten-Sets verifizieren können
                (<a href="component_form">fehlende Komponente ergänzen</a>):
            </p>
            <div> {{ form.verifying_components }} {{ form.verifying_components_submit }} {{ form.clear_verifying_components }}</div>
            <p style="color: #B40404;">
                {% for i in verifying_components_list %}
                    {{ i }},
                {% endfor %}</p>
            <p>{{ form.final_submit }} {{ form.clear_everything }}</p>
        </form>
        <br>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li><p style="color: #B40404;">{{ message }}</p></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </article>
</section>
</body>

</html>
