<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Fahrzeug-Komponenten-Set</title>
</head>

<body>
<header><h1>Fügen Sie dem Wissensgraphen ein neues Fahrzeug-Komponenten-Set hinzu</h1></header>

<section>
    <article>
        <p><a href="/">Startseite</a> <a href="dtc_form">DTC hinzufügen</a> <a href="component_form">Fahrzeug-Komponente
            hinzufügen</a></p>
        <form method="POST">
            {{ form.csrf_token }}
            <br>
            <p>Komponenten-Set: {{ form.set_name(size=20) }}</p>
            <p>Listen Sie Komponenten auf, die zu diesem Fahrzeug-Komponenten-Set gehören (wenn die Komponente, die Sie
                hinzufügen möchten, nicht im Dropdown-Menü enthalten ist, können Sie sie über
                <a href="component_form">dieses</a> Formular hinzufügen):</p>
            <div>{{ form.components }} {{ form.add_component_submit }} {{ form.clear_components }}</div>
            <p style="color: #B40404;">
                {% for i in components_variable_list %}
                    {{ i }},
                {% endfor %}</p>
            <p>Wählen Sie Komponenten aus, mit denen überprüft werden kann, ob das Komponenten-Set korrekt funktioniert (wenn
                die Komponente, die Sie hinzufügen möchten, nicht im Dropdown-Menü enthalten ist, können Sie sie über <a
                        href="component_form">dieses</a> Formular hinzufügen):</p>
            <div> {{ form.verifying_components }} {{ form.verifying_components_submit }} {{ form.clear_verifying_components }}</div>
            <p style="color: #B40404;">
                {% for i in verifying_components_list %}
                    {{ i }},
                {% endfor %}</p>
            <p>{{ form.final_submit }} {{ form.clear_everything }}</p>
        </form>
        <br>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li><p style="color: #B40404;">{{ message }}</p></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </article>
</section>
</body>

</html>
