<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>DTC</title>
    <script>
        function checkSessionValues() {
            fetch('/session_values')
                .then(response => response.json())
                .then(data => {
                    // compare the returned values with the current values displayed on the page
                    if (JSON.stringify(data.synchronized_occurs_with_list) !== JSON.stringify(sessionStorage.getItem('synchronized_occurs_with_list'))) {
                        sessionStorage.setItem('synchronized_occurs_with_list', JSON.stringify(data.synchronized_occurs_with_list));
                        updateList('sync_occurs_with_list', data.synchronized_occurs_with_list);
                    }
                    if (JSON.stringify(data.synchronized_symptom_list) !== JSON.stringify(sessionStorage.getItem('synchronized_symptom_list'))) {
                        sessionStorage.setItem('synchronized_symptom_list', JSON.stringify(data.synchronized_symptom_list));
                        updateList('sync_symptom_list', data.synchronized_symptom_list);
                    }
                    if (JSON.stringify(data.synchronized_component_list) !== JSON.stringify(sessionStorage.getItem('synchronized_component_list'))) {
                        sessionStorage.setItem('synchronized_component_list', JSON.stringify(data.synchronized_component_list));
                        updateList('sync_component_list', data.synchronized_component_list);
                    }
                })
                .catch(error => console.error(error));
        }

        function updateList(listId, list) {
            const listEl = document.getElementById(listId);
            listEl.textContent = list.join("; ");
        }

        // call the checkSessionValues function every 3 seconds
        setInterval(checkSessionValues, 3000);
    </script>
</head>

<body>
<header><h1>Acquisition of DTC-related expert knowledge</h1></header>

<section>
    <article>
        <p>
            <a href="/">Start page</a>
            <a href="component_form">Components</a>
            <a href="component_set_form">Component sets</a>
        </p>

        <form method="POST">
            {{ form.csrf_token }}
            <br>
            <p>
                <b>DTC</b>: {{ form.dtc_name(size=20) }}
                (alternatively select and modify an existing DTC:
                {{ form.existing_dtcs }} {{ form.existing_dtc_submit }})
            </p>
            <p>Further DTCs that empirically <b>occur together with the given DTC</b>
                : {{ form.occurs_with }} {{ form.occurs_with_submit }} {{ form.clear_occurs_with }}</p>
            <p>
            <ol id="sync_occurs_with_list">
                {% for i in occurs_with_DTCs_variable_list %}
                {{ i }}{% if not loop.last %}; {% endif %}
                {% endfor %}
            </ol>
            </p>
            <p><b>Fault condition</b> that the DTC represents: {{ form.fault_condition(size = 70) }}</p>
            <p><b>Symptoms</b> that may appear in the context of the fault condition:
                {{ form.symptoms }} {{ form.symptoms_submit }} {{ form.clear_symptoms }}
            </p>
            <p>If a symptom is not in the list, please add it via the text field: {{ form.new_symptom }} {{
                form.new_symptom_submit }}</p>
            <p>
            <ol id="sync_symptom_list">
                {% for i in symptoms_variable_list %}
                {{ i }}{% if not loop.last %}; {% endif %}
                {% endfor %}
            </ol>
            </p>
            <p>List of the <b>suspect components</b>: List all components that are likely to be the cause in
                order, such that the components most likely to be the cause of the fault are listed first. Only
                components that are part of the subsystem with which this DTC is associated should be specified. If you
                want to
                specify a component from another subsystem which is not the cause of the fault but which is still able
                to verify the correct
                functioning of one or more components within the subsystem, please define a <a
                        href="component_set_form" class="intext_a">component set</a>.
            <div>{{ form.suspect_components }} {{ form.add_component_submit }} {{ form.clear_components }}</div>
            </p>
            <p>If you would like to add a component that is not included in the list, please use
                <a href="component_form">this</a> form.</p>
            <p>
            <ol id="sync_component_list">
                {% for i in suspect_components_variable_list %}
                {{ i }}{% if not loop.last %}; {% endif %}
                {% endfor %}
            </ol>
            </p>
            <p>{{ form.final_submit }} {{ form.clear_everything }}</p>
        </form>
        <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li><p style="color: #B40404;">{{ message }}</p></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </article>
</section>
<footer>
    <p><i>Kontakt: <a href="mailto:tim.bohne@dfki.de">tim.bohne@dfki.de</a></i></p>
</footer>
</body>
</html>
