<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>DTC</title>
</head>

<body>
<header><h1>Aufnahme von DTC-bezogenem Expertenwissen</h1></header>

<section>
    <article>
        <p>
            <a href="/">Startseite</a>
            <a href="component_set_form">Fahrzeugkomponenten-Sets</a>
            <a href="component_form">Fahrzeugkomponenten</a>
        </p>

        <form method="POST">
            {{ form.csrf_token }}
            <br>
            <p>
                DTC: {{ form.dtc_name(size=20) }}
                (alternativ bestehenden DTC auswählen und anpassen:
                {{ form.existing_dtcs }} {{ form.existing_dtc_submit }})
            </p>
            <p>Weitere DTCs, die erfahrungsgemäß häufig zusammen mit dem angegebenen DTC
                auftreten: {{ form.occurs_with }} {{ form.occurs_with_submit }} {{ form.clear_occurs_with }}</p>
            <p style="color: #B40404;">
                {% for i in occurs_with_DTCs_variable_list %}
                    {{ i }},
                {% endfor %}</p>
            <p>Fehlerzustand, den der DTC beschreibt: {{ form.fault_condition }}</p>
            <p>Symptome, die in Zusammenhang mit dem Fehlerzustand auftreten können:
            <div> {{ form.symptoms }} {{ form.symptoms_submit }} {{ form.clear_symptoms }} </div>
            </p>
            <p>Ist ein Symptom nicht in der Liste enthalten, fügen Sie es bitte über das Textfeld
                hinzu: {{ form.new_symptom }} {{ form.new_symptom_submit }}</p>
            <p style="color: #B40404;">
                {% for i in symptoms_variable_list %}
                    {{ i }},
                {% endfor %}</p>
            <p>Liste der fehlerverdächtigen Komponenten: Listen Sie alle Komponenten, die als Ursache infrage kommen,
                der Reihe nach auf, sodass die Komponenten, die am wahrscheinlichsten die Ursache des Fehlers sind,
                zuerst genannt werden. Es sollten nur Komponenten angegeben werden, die Teil des Subsystems sind,
                mit dem dieser DTC in Verbindung steht. Falls Sie eine nicht ursächliche Komponente aus einem anderen
                Subsystem angeben möchten, die dennoch in der Lage ist,
                das korrekte Funktionieren einer oder mehrerer Komponenten innerhalb des Subsystems zu verifizieren,
                definieren Sie ein <a href="component_set_form">Fahrzeugkomponenten-Set</a>.
            <div>{{ form.suspect_components }} {{ form.add_component_submit }} {{ form.clear_components }}</div>
            </p>
            <p>Wenn Sie eine Komponente hinzufügen möchten, die nicht in der Liste enthalten ist, nutzen Sie dafür bitte
                <a href="component_form">dieses</a> Formular.</p>
            <p style="color: #B40404;">
                {% for i in suspect_components_variable_list %}
                    {{ i }},
                {% endfor %}</p>
            <p>{{ form.final_submit }} {{ form.clear_everything }}</p>
        </form>
        <br>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li><p style="color: #B40404;">{{ message }}</p></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </article>
</section>
</body>
</html>
