<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Expertenwissenserwerb</title>
</head>

<body>
<header>
    <h1>Expertenwissenserwerb</h1>
</header>

<section>
    <article>
        <br>
        <p>Kollaborativer Aufbau eines Wissensgraphen zur Kfz-Diagnose.</p>
        <p>Ziel ist es, das erfasste Wissen zu erweitern, indem eine vordefinierte
            <a href="https://raw.githubusercontent.com/tbohne/obd_ontology/main/img/obd_ontology_v13.svg">Ontologie</a>
            mit Instanzdaten gefüllt wird.</p>
        <br>
        <p><u><b>Sie können die folgenden Arten von Instanzen hinzufügen:</b></u></p>
        <ul>
            <li><p><a href="dtc_form">Diagnostic Trouble Codes (DTCs)</a></p></li>
            <li><p><a href="component_form">Fahrzeugkomponenten</a></p></li>
            <li><p><a href="component_set_form">Fahrzeugkomponenten-Sets</a></p></li>
        </ul>
    </article>
</section>
<footer>
    <p><i>Kontakt: <a href="mailto:tim.bohne@dfki.de">tim.bohne@dfki.de</a></i></p>
</footer>
</body>

</html>
