<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Expert Knowledge Acquisition</title>
</head>

<body>
    <h1>Expert Knowledge Acquisition</h1>
    <br>
    <p>Collaborative construction of a knowledge graph concerning automotive diagnostics.</p>
    <p>The goal is to extend the captured knowledge by filling a predefined <a href="https://github.com/tbohne/OBDOntology">ontology</a> with instance data.</p>
    <br>
    <p><u>You can add the following types of instances:</u></p>
    <ul>
        <li><p><a href="dtc_form">Diagnostic Trouble Codes (DTCs)</a></p></li>
        <li><p><a href="subsystem_form">Vehicle Subsystems</a></p></li>
        <li><p><a href="component_form">Vehicle Components</a></p></li>
    </ul>
</body>

</html>
