<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicle Subsystem</title>
</head>
<body>
    Site navigation: <a href="/">Start page</a> | <a href="dtc_form">Add a DTC</a> | <a href="component_form">Add a component</a>.
  <form method="POST">
      {{ form.csrf_token }}
      <br>
      <h2>Define a new vehicle subsystem:</h2>
      <br>
      {{ form.subsystem_name.label }} {{ form.subsystem_name(size=20) }} <br>
      <br>
      Please list the components that belong into this vehicle subsystem. If the component that you want
      to add is not in the drop-down menu, you can add it via <a href="component_form">this</a> form
      and afterwards select it in the list here:
      <br>
      <div>{{form.components}} {{form.add_component_submit}} {{form.clear_components}}</div>
      <br>
      <p style="color: blue;">
      {%for i in components_variable_list%}
        {{i}},
      {%endfor%}</p>
      <br> <br>
      Please select which component can verify whether the subsystem works correctly:
      {{form.verified_by}}
      <br> <br>
      {{form.final_submit}}
  </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>
